In [74]:
from Bio import SeqIO
import pandas as pd
import pybedtools
import numpy as np
import gffutils

from IPython.core.display import HTML

In [285]:
annotated_exons = pybedtools.BedTool("/home/gpratt/projects/cryptic_exons/analysis/ad-hoc/gencode.v17.annotation.exons.gtf").sort().saveas()
kd_exons = pybedtools.BedTool("/home/gpratt/projects/cryptic_exons/analysis/ad-hoc/transcripts.gtf")
ctrl_exons = pybedtools.BedTool("/home/gpratt/projects/cryptic_exons/analysis/ad-hoc/2002765/transcripts.gtf")

In [423]:
ctrl_db = gffutils.FeatureDB("/home/gpratt/projects/cryptic_exons/analysis/ad-hoc/2002765/ctrl.db")
kd_db = gffutils.FeatureDB("/home/gpratt/projects/cryptic_exons/analysis/ad-hoc/kd.db")

In [424]:
kd_exons = kd_exons.filter(lambda x: x[2] == "exon").sort().saveas()
ctrl_exons = ctrl_exons.filter(lambda x: x[2] == "exon").sort().saveas()

In [425]:
len(kd_exons), len(ctrl_exons)

(174490, 132896)

In [426]:
kd_annotated_exons = kd_exons.intersect(annotated_exons, s=True, u=True, f=1.0, r=True, sorted=True).saveas()
ctrl_annotated_exons = ctrl_exons.intersect(annotated_exons, s=True, u=True, f=1.0, r=True, sorted=True).saveas()

In [427]:
len(kd_annotated_exons), len(ctrl_annotated_exons)

(112593, 84777)

Cufflinks is recovering a fairly large fraction of annotated exons, but there are look to be a pretty gigantic number of exons that are unannoated in both ctrl and kd, more in knockdown.  Which is useful.

In [428]:
kd_unannotated_exons = kd_exons.intersect(annotated_exons, s=True, f=1.0, r=True, sorted=True, v=True).saveas()
ctrl_unannotated_exons = ctrl_exons.intersect(annotated_exons, s=True, f=1.0, r=True, sorted=True, v=True).saveas()

In [429]:
len(kd_unannotated_exons), len(ctrl_unannotated_exons)

(61897, 48119)

In [430]:
print 83806 + 47220,
print 32267 + 19179 
#unannotated + annotated is equal to total.  Good sanity check.

131026 51446

In [431]:
overlapping_annotated_kd_ctrl = kd_unannotated_exons.intersect(ctrl_unannotated_exons, s=True, u=True, f=1.0, r=True, sorted=True).saveas()
overlapping_annotated_ctrl_kd = ctrl_unannotated_exons.intersect(kd_unannotated_exons, s=True, u=True, f=1.0, r=True, sorted=True).saveas()

In [432]:
len(overlapping_annotated_kd_ctrl), len(overlapping_annotated_ctrl_kd)

(2485, 2488)

This is interesting, cryptic exons don't really overlap, but there are bunches of cryptic exons in both ctrl and kd that weren't reported.  Time to dig into this.  

Important Questions:

1. Do these unannoated exons have correct splice junctions?
2. What is the PSI score / general coverage of these exons?

#1. What do splice junctions look like?

In [369]:
def make_interval(interval):
    interval.start -= 2
    interval.stop += 2
    transcript_gene_id = (interval.attrs['transcript_id'][0], [0])

    name = "{}:{}-{}({}) {} {} {}".format(interval.chrom, 
                                          interval.start, 
                                          interval.stop, 
                                          interval.strand,
                                          interval.attrs['exon_number'], 
                                          interval.attrs['transcript_id'],
                                          interval.attrs['gene_id'])
    interval = pybedtools.create_interval_from_list([interval.chrom, interval.start, interval.stop, name, "0", interval.strand])
    return interval

In [370]:
ctrl_annotated_exons_bed = ctrl_annotated_exons.each(make_interval).saveas()
ctrl_annotated_exons_fasta = ctrl_annotated_exons_bed.sequence(fi="/projects/ps-yeolab/genomes/hg19/chromosomes/all.fa", fo="ctrl_annotated_exons.fasta", name=True, fullHeader=True, s=True)

In [467]:
def make_exon_count_dict(db):
    exon_count_dict = {}
    for transcript in db.features_of_type("transcript"):
        exons = list(db.children(transcript, featuretype="exon", order_by="start"))

        exon_numbers = [interval.attributes['exon_number'][0] for interval in exons]
        transcript_id = exons[0].attributes['transcript_id'][0]
        transcript_gene_id = (transcript.attributes['transcript_id'][0], transcript.attributes['gene_id'][0])

        exon_count_dict[transcript_gene_id] = {"min": min(exon_numbers),
                                 "max": max(exon_numbers)}

        if transcript_id in result:
            print transcript_id
    return exon_count_dict
    
ctrl_exon_count_dict = make_exon_count_dict(ctrl_db)
kd_exon_count_dict = make_exon_count_dict(kd_db)

In [471]:
def count_splice_junctions(fasta_file, exon_count_dict):
    result = {}
    for exon in SeqIO.parse(fasta_file, "fasta"):
        strand = exon.name[-2]
        five_prime = exon.seq[-2:].upper() == "GT"
        three_prime = exon.seq[:2].upper() == "AG"
        exon_number = int(exon.description.split()[1])
        transcript_id =  exon.description.split()[2]
        gene_id =  exon.description.split()[3]
        try:
            max_exon = exon_count_dict[(transcript_id, gene_id)]['max']
            min_exon = exon_count_dict[(transcript_id, gene_id)]['min']
        except KeyError:
            continue

        if strand == "+":
            if exon_number == int(min_exon):
                five_prime = "first_exon"
            if exon_number == int(max_exon):
                three_prime = "last_exon"
        elif strand == "-":
            if exon_number == int(max_exon):
                five_prime = "first_exon"
            if exon_number == int(min_exon):
                three_prime = "last_exon"
        else:
            raise("Strand not right")
        result[exon.id] = {"exon_number": exon_number,
                           "five_prime": five_prime, 
                           "three_prime": three_prime,
                           "five_prime_seq": "".join(exon.seq[-2:]).upper(), 
                           "three_prime_seq": "".join(exon.seq[:2]).upper()}

    result = pd.DataFrame(result).T
    return result

In [472]:
result = count_splice_junctions("ctrl_annotated_exons.fasta", ctrl_exon_count_dict)

In [473]:
result.groupby("five_prime").count()

            exon_number  five_prime_seq  three_prime  three_prime_seq
five_prime
False              4650            4650         4650             4650
True              16643           16643        16643            16643
first_exon         7076            7076         7076             7076

In [474]:
result.groupby("three_prime").count()

             exon_number  five_prime  five_prime_seq  three_prime_seq
three_prime
False               5045        5045            5045             5045
True               16821       16821           16821            16821
last_exon           6503        6503            6503             6503

In [475]:
result['combined_seq'] = result.five_prime_seq + result.three_prime_seq
HTML(result.groupby("combined_seq").count().to_html())

In [476]:
result[result.three_prime == False].groupby("three_prime_seq").count()

,exon_number,five_prime,five_prime_seq,three_prime,combined_seq
three_prime_seq,,,,,
AA,243,243,243,243,243
AC,278,278,278,278,278
AT,231,231,231,231,231
CA,300,300,300,300,300
CC,575,575,575,575,575
CG,159,159,159,159,159
CT,418,418,418,418,418
GA,314,314,314,314,314
GC,477,477,477,477,477
GG,412,412,412,412,412
GT,320,320,320,320,320
NN,1,1,1,1,1
TA,182,182,182,182,182
TC,457,457,457,457,457
TG,262,262,262,262,262
TT,416,416,416,416,416

In [477]:
result[result.five_prime == False].groupby("five_prime_seq").count()

,exon_number,five_prime,three_prime,three_prime_seq,combined_seq
five_prime_seq,,,,,
AA,519,519,519,519,519
AC,167,167,167,167,167
AG,229,229,229,229,229
AT,238,238,238,238,238
CA,350,350,350,350,350
CC,253,253,253,253,253
CG,72,72,72,72,72
CT,400,400,400,400,400
GA,270,270,270,270,270
GC,426,426,426,426,426
GG,243,243,243,243,243
NN,4,4,4,4,4
TA,301,301,301,301,301
TC,283,283,283,283,283
TG,411,411,411,411,411
TT,484,484,484,484,484

#Conclusions from initial QC
1. I'm missing some transcripts using my approach of getting an exon counting dict
2. There are some non-canonical splice events, about 1/4 of my data doesn't have canonical splice sites, breif manual exmaination didn't show anything suprising about these splice sites.  Above is the frequencies of the non-canonoical splice sites, there isn't anything odd about the distribution.  One thing I noticed is that we are likely to have one good 3' or 5' site and one bad 3' or 5' site on the exon level.  This is the weakness of taking an exon centric approach instead of an intron centric approach.  

I think I'm good to move on to looking at differences between cananoical exons and non-canonical exons.  Going to try that now

#Non-canonical exon Stats

In [458]:
ctrl_annotated_exons_bed = ctrl_annotated_exons.each(make_interval).saveas()
ctrl_annotated_exons_fasta = ctrl_annotated_exons_bed.sequence(fi="/projects/ps-yeolab/genomes/hg19/chromosomes/all.fa", fo="ctrl_annotated_exons.fasta", name=True, fullHeader=True, s=True)

kd_annotated_exons_bed = kd_annotated_exons.each(make_interval).saveas()
kd_annotated_exons_fasta = kd_annotated_exons_bed.sequence(fi="/projects/ps-yeolab/genomes/hg19/chromosomes/all.fa", fo="kd_annotated_exons.fasta", name=True, fullHeader=True, s=True)

ctrl_unannotated_exons_bed = ctrl_unannotated_exons.each(make_interval).saveas()
ctrl_unannotated_exons_fasta = ctrl_unannotated_exons_bed.sequence(fi="/projects/ps-yeolab/genomes/hg19/chromosomes/all.fa", fo="ctrl_unannotated_exons.fasta", name=True, fullHeader=True, s=True)

kd_unannotated_exons_bed = kd_unannotated_exons.each(make_interval).saveas()
kd_unannotated_exons_fasta = kd_unannotated_exons_bed.sequence(fi="/projects/ps-yeolab/genomes/hg19/chromosomes/all.fa", fo="kd_unannotated_exons.fasta", name=True, fullHeader=True, s=True)

In [478]:
ctrl_annotated_junctions = count_splice_junctions("ctrl_annotated_exons.fasta", ctrl_exon_count_dict)
kd_annotated_junctions = count_splice_junctions("kd_annotated_exons.fasta", kd_exon_count_dict)
ctrl_unannotated_junctions = count_splice_junctions("ctrl_unannotated_exons.fasta", ctrl_exon_count_dict)
kd_unannotated_junctions = count_splice_junctions("kd_unannotated_exons.fasta", kd_exon_count_dict)

In [479]:
ctrl_annotated_junctions.groupby("five_prime").count()

            exon_number  five_prime_seq  three_prime  three_prime_seq
five_prime
False              4650            4650         4650             4650
True              16643           16643        16643            16643
first_exon         7076            7076         7076             7076

In [480]:
kd_annotated_junctions.groupby("five_prime").count()

            exon_number  five_prime_seq  three_prime  three_prime_seq
five_prime
False              6564            6564         6564             6564
True              22926           22926        22926            22926
first_exon         9934            9934         9934             9934

In [481]:
ctrl_unannotated_junctions.groupby("five_prime").count()

            exon_number  five_prime_seq  three_prime  three_prime_seq
five_prime
False              8497            8497         8497             8497
True               7212            7212         7212             7212
first_exon        12097           12097        12097            12097

In [483]:
ctrl_unannotated_junctions

,exon_number,five_prime,five_prime_seq,three_prime,three_prime_seq
chr1:10002679-10002828(-),7,first_exon,GT,False,GA
chr1:10002736-10002842(-),7,True,GT,True,AG
chr1:10002978-10010034(+),1,first_exon,TT,last_exon,AG
chr1:10003404-10003424(-),8,first_exon,GT,False,CC
chr1:10003483-10045561(+),1,first_exon,TG,last_exon,AT
chr1:10003484-10003575(+),1,first_exon,GT,False,TG
chr1:10003543-10003575(+),1,first_exon,GT,False,GC
chr1:100109594-100110404(-),1,first_exon,AC,last_exon,CT
chr1:100111496-100160099(+),1,first_exon,CT,last_exon,AA
chr1:100111746-100111920(+),1,first_exon,GT,False,CA
chr1:1001207-1001387(+),3,False,AC,last_exon,AG
chr1:1001207-1001838(+),2,True,GT,last_exon,AG
chr1:1001326-1001823(+),2,False,CA,last_exon,AG
chr1:100133195-100133324(+),3,True,GT,True,AG
chr1:100152229-100152348(+),4,True,GT,True,AG
chr1:100154328-100155635(+),7,False,TT,last_exon,AG
chr1:100163795-100164736(+),1,first_exon,TT,last_exon,AT
chr1:100169524-100174153(-),1,first_exon,AC,last_exon,GA
chr1:100174217-100174678(-),1,False,AT,last_exon,AG
chr1:100174256-100232189(-),1,first_exon,AC,last_exon,TT
chr1:100176378-100176507(-),1,False,TA,last_exon,AG
chr1:100176387-100176507(-),3,True,GT,True,AG
chr1:100176472-100176507(-),1,False,AG,last_exon,AG
chr1:100177971-100178073(-),5,True,GT,True,AG
chr1:100181139-100181230(-),6,True,GT,True,AG
chr1:100214126-100214326(-),15,True,GT,True,AG
chr1:100315637-100389581(+),1,first_exon,AT,last_exon,CT
chr1:100316042-100316456(+),1,first_exon,GT,False,TT
chr1:100316588-100316682(+),2,True,GT,True,AG
chr1:100318223-100318261(+),1,first_exon,GT,False,GC
...,...,...,...,...,...
chr1:99230493-99233479(+),1,first_exon,GC,last_exon,GA
chr1:99233578-99234353(+),1,first_exon,AA,last_exon,AC
chr1:99234418-99234987(+),1,first_exon,AA,last_exon,AG
chr1:99237057-99237646(+),1,first_exon,AT,last_exon,TA
chr1:9932024-9932152(-),4,first_exon,GT,False,CT
chr1:99355803-99470590(-),1,first_exon,CT,last_exon,AC
chr1:99356525-99358662(-),1,False,GG,last_exon,AG
chr1:99380354-99380478(-),2,True,GT,True,AG
chr1:99469829-99614410(+),1,first_exon,AT,last_exon,TC
chr1:99469988-99470042(-),2,first_exon,GT,False,CG
chr1:99469988-99470451(-),6,first_exon,GT,True,AG
chr1:99469988-99470590(-),6,first_exon,GT,False,AC
chr1:995111-1004737(+),1,first_exon,AG,last_exon,CC
chr1:9970150-9970323(-),6,first_exon,GT,False,CC
chr1:99729506-99775148(+),1,first_exon,TA,last_exon,AG
chr1:99729845-99730229(+),1,first_exon,GT,False,GG
chr1:99764588-99764788(+),4,True,GT,True,AG
chr1:99771238-99775138(+),6,False,AA,last_exon,AG
chr1:9982170-10003467(-),1,first_exon,GA,last_exon,GA
chr1:998453-998581(+),1,first_exon,AG,False,TC
chr1:998456-998583(+),1,first_exon,GT,True,AG
chr1:9989775-9990517(-),1,False,AA,last_exon,AG
chr1:9990192-9990517(-),1,False,AG,last_exon,AG
chr1:9990308-9990517(-),1,False,CT,last_exon,AG
chr1:9990316-9990517(-),1,False,AC,last_exon,AG
chr1:9991946-9992240(-),2,first_exon,GT,False,TA
chr1:99937968-99999573(-),1,first_exon,CT,last_exon,TA
chr1:9995547-9995680(-),5,first_exon,GT,False,AA
chr1:999872-999971(+),1,first_exon,GT,False,GT
chr1:999895-999971(+),1,first_exon,GT,False,CA

A breif look at these exons doesn't make any sense.  I'm trying to get cufflinks running faster, but until its totally done, I don't think I can use this approach.  I'll switch to trying to find novel exons via STAR now.

#Junction Based Approach for annotating exons

I'm going to try something hacky to identify unannotated exons in rna-seq data

1. Create coverage map of all of hg19 using HTSeq and or a wiggle file (I'll try with HTSeq first)
2. Load in all splice junction annotations from STAR
3. Start with the first splice junction, create a splice graph based on coverage to define exons and any splice junctions contained in that covered region.  Any region and has a two splice junctions can be punatively defined as an exon.  I'm NOT going to try to infer full transcripts, just exons in those transcripts

In [485]:
import HTSeq

In [491]:
bam = HTSeq.BAM_Reader("/home/gpratt/projects/cryptic_exons/analysis/ling_et_al_v1/SRR2002765_1.polyATrim.adapterTrim.rmRep.sorted.rg.bam")

In [496]:
coverage = HTSeq.GenomicArray( "auto", stranded=True, typecode="i" )

In [499]:
HTSeq.pair_SAM_alignments??

In [504]:
def get_bam_coverage(bamfile):
    """
    
    Given a bam file returns a properly covered htseq coverage file (this is slow)
    
    """
    bam = HTSeq.BAM_Reader(bamfile)
    coverage = HTSeq.GenomicArray("auto", typecode="i", stranded=True)
    for read in bam:
        if read.aligned:
            for cigop in read.cigar:
                if cigop.type != "M":
                    continue
                coverage[cigop.ref_iv] += 1
    return coverage

In [ ]:
coverage = get_bam_coverage("/home/gpratt/projects/cryptic_exons/analysis/ling_et_al_v1/SRR2002765_1.polyATrim.adapterTrim.rmRep.sorted.rg.bam")

In [503]:
for cigop in r1.cigar:

[< CigarOperation: 100 base(s) matched on ref iv chr1:[11389,11489)/+, query iv [0,100) >]

In [494]:
print r1

<SAM_Alignment object: Paired-end read 'SRR2002765.64014174' aligned to chr1:[11389,11489)/+>

In [495]:
print r2

<SAM_Alignment object: Paired-end read 'SRR2002765.64014174' aligned to chr1:[11524,11624)/->

#Intron Centric Approach

In [ ]:
for transcript in ctrl_db.features_of_type("transcript"):
    exons = ctrl_db.children(transcript, featuretype="exon", order_by="start")
    result = list(ctrl_db.interfeatures(exons))
    if len(result) > 5:
        break

def _to_bed(interval):
    """
    interval: gffutils interval

    converts gffutils to bed format, setting id to be the 
    id of the gene

    """
    gene_id = interval.attributes['gene_id']
    if type(gene_id) is list:
        gene_id = gene_id[0]        
    return pybedtools.create_interval_from_list([interval.chrom, interval.start, 
            interval.stop, gene_id, "0", interval.strand])

In [ ]:
for x in ctrl_db.features_of_type("transcript"):
    print x
    break

In [ ]:
list(ctrl_db.children(transcript_id, featuretype="transcript_id"))