In [2]:
import os 
import pysam

import pandas as pd

In [3]:
input_dir = "/projects/ps-yeolab3/encode/analysis/encode_master/"
out_dir = "/home/gpratt/scratch/ad-hoc/"

In [4]:
fn = "475_CLIP_S24_L003_R1_001.A03_475_01_UTP3.adapterTrim.round2.rmRep.bam"

In [34]:
pd.read_table(os.path.join(out_dir, "475_CLIP_S24_L003_R1_001.A03_475_01_UTP3.dedup_edit_distance.tsv"))

    directional  directional_null edit_distance  unique  unique_null
0        215979            215979    Single_UMI  145896       145896
1             0                 1             0       0            2
2            91                 6             1   53005            7
3         12040                32             2   29895          113
4          6477               219             3    7085          609
5          2936               764             4    2023         2218
6           853              2000             5     936         5859
7           594              4084             6     715        13717
8           826              6641             7     736        27171
9           729              6980             8     377        31418
10          223              3287             9     111        11335
11           54               809            10      23         2457
12            0                 0            11       0            0

In [ ]:
555230
830850
11118888

In [ ]:
23,325,398
1,090,000

In [60]:
samtool = pysam.Samfile(os.path.join("/home/gpratt/projects/idr/analysis/umi_downsampling", "629_CLIP_S21_L005_R1_001.A03_629_02_UCHL5.adapterTrim.round2.rmRep.sorted.adjusted.bam"))
print "num reads in chr1", len(list(samtool.fetch("chr1")))
tid = samtool.get_tid("chr1")
print "num reads in everything?", len(list(samtool.fetch(tid=tid)))

num reads in chr1 1021374
num reads in everything? 23325398

In [61]:
pysam.__version__

'0.10.0'

23325398